<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Payrails API Automation Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
        <listener class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerClassAdapter" />
        <listener class-name="com.payrails.challenge.core.ExtentTestListener" />
    </listeners>
    <test name="API Tests with Rate Limit Handling">
        <classes>
            <class name="com.payrails.challenge.tests.SymbolSearchTests" />
            <class name="com.payrails.challenge.tests.TimeSeriesTests" />
        </classes>
    </test>
</suite>